@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("font-awesome/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 5rem;
  font-size: 10px;
}

html,
body {
  height: 100%;
}
body {
  background: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #6e6e6e;
}

.portfolio-card {
  cursor: pointer;
}
#resume #contact,
#about,
#portfolio {
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Increase the size of icons */
.fa-2x {
  font-size: 2rem;
}

/* Style the Download CV button */
.btn-primary {
  margin-top: 20px;
}
.portfolio-card {
  transition: transform 0.2s; /* Add a transition effect on the transform property */
}

.portfolio-card:hover {
  transform: scale(1.05); /* Increase the scale (zoom in) on hover */
}
.text-decoration-none:hover {
  color: #c0c0c0; /* Change to the color you prefer on hover */
  transition: color 0.3s ease; /* Smooth transition effect */
}
.text-decoration-none {
  color: white; /* Change to the color you prefer on hover */
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

/* HEADER */

.header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #797979;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header nav.menu-desktop a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav.menu-desktop ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

header .btn-contacto button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

header .btn-contacto button:hover {
  box-shadow: 0px 0px 8px #ffffffc9;
}

/* MENU MOBILE */
.btn-abrir-menu i {
  color: #fff;
  font-size: 40px;
}
.menu-mobile {
  height: 100vh;
  position: fixed;
  background-color: #000;
  top: 0;
  right: 0;
  z-index: 99999;
  width: 0%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
  color: #fff;
  font-size: 30px;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile nav ul li a:hover {
  background-color: #fff;
  color: #000;
}

.overlay-menu {
  background-color: #000000a7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  display: none;
}

/* TOPO DO SITE */

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
}

.topo-do-site h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 38px;
  letter-spacing: 4px;
}

.topo-do-site h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.social-media a {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 4rem;
  border: 1px solid #ffffff;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.social-media a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

.intro-social {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 7.2rem;
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
}
.intro-social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
.intro-social li a,
.intro-social li a:visited {
  color: #ffffff;
}
.intro-social li a:hover,
.intro-social li a:focus {
  color: #00768c;
}

.progress-title {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 10px;
}
.progress {
  height: 10px;
  background: #a1a1a1;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
  position: relative;
}
.progress .progress-bar {
  background: #fff;
  border-radius: 0;
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
}
.progress .progress-bar:before {
  content: "";
  width: 100%;
  border-top: 10px double #f95738;
  border-right: 25px solid #000;
  position: absolute;
  top: 0;
  left: 0;
}
.progress .progress-value {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  position: absolute;
  top: -32px;
  right: -5px;
}
.progress.berna .progress-bar:before {
  border-top-color: #002b33;
}
.progress.green .progress-bar:before {
  border-top-color: #65c168;
}
.progress.blue .progress-bar:before {
  border-top-color: #165692;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}

/* ESPECIALIDADES */

section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  margin-top: 45px;
  border-radius: 20px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ffffff6c;
}

.especialidades .especialidades-box i {
  font-size: 70px;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

#button2 {
  background-color: transparent; /* Define o fundo como transparente */
  border: none; /* Remove qualquer borda */
  font-size: 1.5rem; /* Ajuste o tamanho do ícone conforme necessário */
}

/* SOBRE */

section.sobre {
  padding: 80px 2%;
}

section.sobre .flex {
  align-items: center;
  gap: 30px;
}

.sobre .txt-sobre {
  color: #000000;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 40px;
}

.sobre .txt-sobre h2 span {
  color: #000000;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s;
}

.btn-social button:hover {
  box-shadow: 0px 0px 8px #000000;
  transform: scale(1.05);
}

.sobre h3 {
  font-size: 1.8rem;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.sobre .info-list {
  list-style: none;
  margin-left: 0;
}
.sobre .info-list li {
  padding: 0 0 1.5rem 0;
  margin-bottom: 0.6rem;
}
.sobre .info-list li strong {
  font-family: "poppins-bold", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
.sobre .info-list li span {
  display: block;
  font-family: "poppins-regular", sans-serif;
  color: #888888;
  font-size: 1.5rem;
  line-height: 1;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 12rem;
}

.btn-outline {
  border: 2px solid #000000;
  background: transparent;
  color: #002b36;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-filled {
  background: #000000;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 0.5s ease-out forwards;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.btn-filled:hover {
  transform: scale(1.1);
  background-color: white;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
}

/* RESUME */

section.resume {
  padding: 80px 2%;
}

section.resume .flex {
  align-items: center;
  gap: 30px;
}

.grey-section {
  background: #ebebeb;
}
.grey-section p.lead {
  color: #7d7d7d;
}

.section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}
.section-intro h1 {
  font-size: 3.6rem;
  color: #002b33;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.section-intro h5 {
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
}

#resume {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

#resume .resume-header {
  text-align: center;
}
#resume .resume-header h2 {
  color: #000000;
}

#resume .resume-timeline {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
#resume .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 35%;
  top: 0;
}
#resume .timeline-block {
  position: relative;
  padding-top: 1.5rem;
}
#resume .timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  background: #002b33;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 35%;
  top: 0.9rem;
  margin-left: -2.4rem;
}
#resume .timeline-ico i {
  position: relative;
  left: 0.05rem;
  top: 0.2rem;
}

#resume .timeline-header {
  float: left;
  width: 35%;
  padding-right: 90px;
  text-align: right;
}
#resume .timeline-header h3 {
  margin-bottom: 0;
}
#resume .timeline-header p {
  font-family: "poppins-regular", sans-serif;
  font-size: 1.6rem;
  color: #888888;
}
#resume .timeline-content {
  margin-left: 35%;
  padding-left: 60px;
  font-size: 15px;
}
#resume .timeline-content h4 {
  position: relative;
  padding-bottom: 1.8rem;
}
#resume .timeline-content h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* PORTFÓLIO */

.portfolio {
    background: #000;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

.titulo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitulo {
    font-size: 1.5em;
    font-weight: bold;
    margin: 40px 0 20px;
    text-align: center;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
}

.img-port {
    position: relative;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img-port:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

.overlay p {
    font-size: 0.9em;
    color: #ddd;
}

.btn-filled {
    background: #000;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease-in-out;
}

.btn-filled:hover {
    background: #333;
}

/* Modal */
.modal-content {
    background: #121212;
    color: white;
    border-radius: 10px;
}

.modal-body {
    text-align: center;
}

.modal-body img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.modal-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal-info p {
    font-size: 1em;
    color: #bbb;
}

.modal-info span {
    font-weight: bold;
    color: #ffbb00;
}


section.portfolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}


/* FOOTER */

footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer p i {
  color: #fff;
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #fff;
}

@media screen and (max-width: 1020px) {
  /* GERAIS */
  .flex {
    flex-direction: column;
  }

  .topo-do-site .flex {
    flex-direction: column-reverse;
  }

  h2.titulo {
    font-size: 34px;
    line-height: 30px;
  }

  /* HEADER */
  .menu-desktop,
  .btn-contacto {
    display: none;
  }

  /* TOPO DO SITE */
  section.topo-do-site .flex {
    gap: 40px;
  }

  section.topo-do-site {
    padding: 20px 8%;
  }

  .topo-do-site h1 {
    font-size: 30px;
  }

  .topo-do-site .img-topo-site img {
    width: 100%;
  }

  /* ESPECIALIDADES */
  section.especialidade {
    padding: 40px 8%;
  }

  /* SOBRE */
  section.sobre {
    padding: 80px 8%;
  }

  .sobre .txt-sobre h2 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }

  .btn-social {
    text-align: center;
  }

  .img-sobre img {
    width: 100%;
  }

  /* PORTFOLIO */
  section.portfolio {
    padding: 80px 8%;
  }

  .img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  section.portfolio .flex {
    gap: 60px;
  }

  /* FOOTER */
  footer .flex {
    flex-direction: column;
    gap: 30px;
  }

  footer .line-footer {
    text-align: center;
  }
}
